* {
  margin: 0;
  padding: 0;
  border: dotted pink 1px;
  font-family:Arial, Helvetica, sans-serif;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}
nav, h1, h2, h3 {
  margin: 5px;
}
p {
  margin: 10px;
}
#favorites-list .pet-item{
  background-color: lightseagreen !important;
  color: white !important;
}
#favorites-list .pet-image-container {
  border: 5px solid green !important;
}
.pet-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  list-style-type: none;
  padding: 0;
}
.pet-item {
  background-color: lightblue;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pet-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: inherit;
  height: 100%;
}
.pet-image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  border: 5px solid gold;
}
.pet-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pet-details {
  align-items: center;
  margin: 10px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  background-color: #45a049;
}