<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <nav>
    <a href="{% url 'index' %}" class="button">Home</a>
    <a href="{% url 'login_view' %}" class="button">Login</a>
  </nav>
  <h2>Register</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
    <a href="{% url 'login_view' %}" class="button">Already Registered? Login</a>
  </form>
  {% if form.errors %}
  <ul>
    {% for field in form %}
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</body>

</html>